.about-sect{
    color: #fff;
    margin: 2% 5%;
    text-align: center;
}

.line-img{
    position: relative;
}

.row{
    display: flex;
    text-align: justify;
    margin-left: -1%;
    height: 98vh;
    width: 90vw;
}

.row img{
    height: 70%;
}

.winee-video{
    height: 60%;
    border-radius: 5px;
    margin-left: 5%;
    position: relative;
    width: 100vw;
}

.winee-video img{
    background-color: #182337;
    border-radius: 20px;
    height: 100%;
    object-fit: fill;
    position: absolute;
    width: 90%;
}

.winee-video video{
    align-self: center;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
    position: absolute;
    top: 8%;
    width: 90%;
    z-index: 3;
}

@media screen and (max-width: 1000px) {

    .row img{
        height: 100%;
    }

    .winee-video{
        align-self: center;
        height: 50%;
        position: absolute;
        width: 90%;
    }
}