.explore{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 4% 5%;
}

.explore, .explore-content, .explore-image{
    position: relative;
}

.explore-block{
    background-color: #182337;
    border: 1px solid #192337;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 25px;
}

.explore-block img{
    align-self: center;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 5%;
    padding: 6px;
    width: 40px;
}

.explore-block p{
    color: #5d6f96;
}

.explore-content{
    width: 40%;
}

.explore-image{
    height: 650px;
    width: 50%;
}

.explore-image img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.explore-title span{
    color: #c3005d;
}

@media screen and (max-width: 1000px) {
    .explore{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .explore-content{
        width: 90%;
    }

    .explore-block{
        justify-content: flex-start;
    }

    .explore-block img{
        margin: 4%;
    }
    .explore-image{
        width: 100%;
    }
}