.partners{
    background-color: #182337;
    border-radius: 35px;
    color: #fff;
    margin: 2% 4% 5%;
    padding: 1%;
    text-align: center;
}

.partner-img{
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    height: 190px;
    width: 14%;
}

.partner-img img{
    width: 80%;
}

.partner-imgs{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 3%;
}

.partner-title h2{
    font-size: 3rem;
}

@media screen and (min-width: 950px) and (max-width: 1300px) {
    .partner-img{
        width: 18%;
    }
}

@media screen and (min-width: 560px) and (max-width: 950px) {
    .partner-img{
        width: 29%;
    }
}

@media screen and (min-width:400px) and (max-width: 560px) {
    .partner-img{
        width: 45%;
    }
}

@media screen and (min-width:0px) and (max-width: 400px) {
    .partner-img{
        width: 75%;
    }
}